.content_container {
    justify-content: center !important;
}
#main {
    height: 90vh;
}
#login {
    margin-top: 5%;
}
#login .login_box {
    width: 500px;
    height: 300px;
    background: #f8f8f8;
    padding: 20px 0;
    border-radius: 10px;
    border: 1px solid #eee;
}
#login .login_box .login_content {
    width: 350px;
    margin: auto;
}
#login .login_box .login_content .login_header {
    margin-bottom: 20px;
}
#login .login_box .login_content .login_body {
    position: relative;
}
#login .login_box .login_content .login_body button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: red;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
    margin-top: 15px;
}
#login .login_box .login_content .login_body input[type=text],
#login .login_box .login_content .login_body input[type=password] {
    display: block;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    position: relative;
}
#login .login_box .login_content .login_body label {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
#login .login_box .login_content .login_body label span {
    position: absolute;
    display: inline-block;
    width: 100px;
    top: -3px;
    left: 25px;
}
#login .login_box .login_content .login_body input[type=checkbox] {
    display: inline-block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    padding-top: 3px;
}
#login .login_box .login_content .login_body a {
    position: absolute;
    right: 0;
    bottom: 58px;
    color: black;
}
#login .login_box .login_content .login_body a:hover {
    text-decoration: underline;
}
#login .login_box .login_content .login_footer {
    text-align: center;
    margin-top: 10px;
}
#login .login_box .login_content .login_footer a {
    color: red;
}
#login .login_box .login_content .login_footer a:hover {
    text-decoration: underline;
}